*{
    margin: 0%;
    padding: 0%;
}
.cabecalho h1, .cabecalho nav, .cabecalho nav li {
    display: inline-block;
}
.cabecalho img{
    border-radius: 50%;
    width: 150px;
    margin-left: 10%;
    vertical-align: middle;
}
.cabecalho h1{
    font-size: 50px;
    vertical-align: middle;
    margin-left: 100px;
    margin-right: 100px;
}
.cabecalho{
    text-align: center;
    padding: 20px;
    vertical-align: middle;
}
.cabecalho nav *{
    text-decoration: none;
    margin-left: 10px;
    font-size: 20px;
}
/*.principal aside, .principal ul{
    border-style: solid;
    display: inline-block;

}*/
.principal{
    border: 2px solid red 
}
.pe{
    border-style: solid;
}
.lateral{
    border-style: solid;
    display: inline-block;
}
.artigo{
    border-style: solid;
    display: inline-block;
}
.pe nav ul li, .pe nav, .pe span{
    display: inline-block;
}