h1{
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}
.body-colors{
    background-color: orchid;
}
p{
    font-weight: 600;
    font-size: 48px;
}
body{
    font-size: 16px;
}
#yellow{
    background-color: yellow;
}
#red{
    background-color: red;
}
#brown{
    background-color: brown;
}